@import 'branding';

body {
	background-color: #ffffff;
	font-family: sans-serif;
	margin: 0;
	margin-bottom: 30px;
	/* Leave space for the footer at the bottom. */
	min-height: calc(100% - 30px);
}

.navbar {
	position: fixed;
	/* Display from edge to edge. */
	left: 0;
	top: 0;
	margin: 0;
	padding-top: 4px;
	padding-left: 0;
	padding-right: 0;
	width: 100%;
	height: 35px;
	background-color: #ffffff;
	box-shadow: 0 0 5px #888888;
	/* Make it appear over the body. */
	z-index: 5;
	display: block;
}

.navbar > li {
	/* Make all the links appear in one line. */
	display: inline-block;
	font-size: 16px;
	padding-left: 5px;
	padding-right: 5px;
	height: 35px;
}

.navlink {
	padding-top: 8px;
	vertical-align: top;
}

.navlink > a, .auth > a {
	text-decoration: none;
	color: #888888;
	transition: .3s;
}

.navlink> a:hover, .auth > a:hover {
	color: #4b3621;
}

/* Log in/Log out button */
.auth {
	float: right;
	text-align: right;
	position: relative;
	right: 0;
	bottom: -8px;
}

/* The actual "body" that's not the navbar or footer. */
.content {

background-color: #faf9fb;
box-shadow: 0 0 10px #888888;
width: 100%;
/* Expand to full height.
 60px for navbar and padding, 20px for footer, 10px bottom padding.
 Dunno where the last 10px comes from... */
min-height: calc(100vh - 100px);
height: 100%;
margin: 0;
/* So content doesn't appear under the navbar. */
padding: 60px 0 10px 0;
position: static;
z-index: 1;
left: 0;
}

.footer {
z-index: -500;
position: fixed;
bottom: 5px;
background-color: #ffffff;
height: 15px;
}

/* Actually a link, not a button. */
.registerbutton {
	color: $primary-color;
	border-color: $primary-color;
	background-color: transparent;
	border: 5px solid;
	border-radius: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 15px;
	width: 130px;
	display: inline-block;
	text-decoration: none;
	transition: .3s;
	outline: 0;
	font-size: 20pt;
	animation: fadein-delay-delay 1s;
}

.registerbutton:hover {
	color: #ffffff;
	background-color: $third-color;
	border-color: $third-color;
}

.registercontainer {
	padding-top: 20px;
}

.lander {
	width: 80%;
	max-width: 980px;
	/* For low resolution displays. */
	max-height: 50%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.lander > img {
	animation: fadein 1s;
}

.lander > .blurb {
	animation: fadein-delay 1s;
}

@keyframes fadein{
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadein-delay {
	0% {
		opacity: 0;
	}

	30% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadein-delay-delay {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.lander > img {
	width: 100%;
}

.textblock {
	width: 90%;
	max-width: 980px;

	/*center.*/
	display: block;
	margin-right: auto;
	margin-left: auto;
}

h1 {
	color: $primary-color;
}

h2 {
	color: $second-color;
}

h3 {
	color: $third-color;
}

a {
	color: $second-color;
	text-decoration: none;
	transition: .3s;
}

a:hover {
	color: $third-color;
}

p {
	color: #4B3621;
}

input[type=text], input[type=password], input[type=email]{
	background-color: transparent;
	border-style: solid;
	/* Underline-style inputs.*/
	border-width: 0 0 1px 0;
	border-color: #AAAAAA;
	transition: .2s;
	color: #AAAAAA;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus{
	border-width: 0 0 2px 0;
	border-color: $second-color;
	color: $primary-color;
}


.howto > p:nth-of-type(2n) {
	text-align: right;
}

.howto > p:nth-of-type(2n+1) {
	text-align: left;
}

ul.messages > li {
	width: 450px;
	border: 3px solid;
	border-radius: 10px;
	padding: 10px;
	list-style-type: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
}

ul.messages > .error {
	border-color: #ff2222;
	background-color: #ffcccc;
}

ul.messages > .success {
	border-color: #5ac54a;
	background-color: #ccffcc;
}
