@import 'branding';

.completeform {
  display: inline;
}

// div to center the title/new task form.
.wrapper {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.incompletetasks {
  height: auto;
  margin-left: auto;
  margin-right: auto;
  // Width of the calendar widget and textbox.
  max-width: 700px;
  min-width: 340px;
}

.headertitle {
  display: inline-block;
  text-align: center;

  form > input[type=text] {
    // 27px: The size of the "+" button
    width: calc(100% - 27px);
  }

  form > input.dueinput {
    //displayed under the titlebar/button.
    display: block;
    width: 100%;
  }
}

.tasks-header {
  text-align: center;
}

.newtaskbutton {
  background-color: transparent;
  border: 0;
  color: $primary-color;
  font-weight: bold;
  height: 20px;
  margin: 0;
  padding: 0;
  transition: .3s;
  width: 20px;
}

.newtaskbutton:hover {
  color: $third-color;
}


.eventbox {
  background-color: #dddddd;
  border-radius: 10px;
  display: none;
  // 31px: The height of the edit/save/done buttons.
  // 20px: top and bottom margin.
  height: calc(215px - 31px - 20px);
  margin-bottom: 10px;
  margin-top: 10px;
  overflow: auto;
  padding: 5px;
  text-align: left;
  // The same width as the datepicker widget.
  width: 280px;

  p {
    margin: 2px 0;
  }
}

// Headings are colored and have huge margins elsewhere.
.eventbox > h1,
.largepreview > h1,
.eventbox > h2,
.largepreview> h2,
.eventbox > h3,
.largepreview > h3 {
  color: $text;
  display: block;
  margin: 4px 0;
}

// 31px: The height of the edit/save/done buttons.
.desc_input {
  box-shadow: inset, 3px, 3px, 3px, 3px, black;
  display: inline;
  height: calc(215px - 41px);
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 0;
  resize: none;
  width: 301px;
}

.delete_form {
  display: inline;
}

.viewcontrols,
.editcontrols {
  text-align: right;
}

.task_calendar {
  display: inline-block;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.calendarcontainer {
  display: inline-table;
  height: 241.95px;
  vertical-align: top;
  width: 278.4px;
}

.editorcontainer {
  display: inline-table;
  vertical-align: top;
}

// Necessary for the textarea and div to resize properly.
tr {
  height: 100%;
}

.ui-datepicker-inline {
  border: 0;
}

.ui-datepicker-calendar > tbody > tr {

  td {
    .ui-state-default {
      background: transparent;
      border: 0;
      border-radius: 30px;
      text-align: center;
    }

    .ui-state-active {
      color: $primary-color;
      font-weight: bold;
    }
  }

  td.event > a.ui-state-default {
    // Highlight dates with events.
    background-color: #dddddd;
  }

  td.due {
    a.ui-state-default {
      background-color: $primary-color;
    }

    a.ui-state-active {
      color: #ffffff;
    }
  }

  .ui-datepicker-today {
    a {
      color: $third-color;
      font-weight: bold;
    }

    .ui-state-active {
      color: $primary-color;
    }
  }
}

.ui-datepicker-title {
  color: $second-color;
}

@for $i from 1 through 7 {
// Rainbow accross the week.
  .ui-datepicker-calendar > thead > tr > th:nth-of-type(#{$i}) {color: nth($logo-colors, $i);}
}


.ui-datepicker-header {
  background-color: transparent;
  border: 0;
}

.ui-widget-content {
  background: transparent;
  border: 0;
}

.ui-accordion-header {
  background: transparent;
  border: 0;
  font-weight: bold;
  text-align: center;
  transition: .3s;

  .ui-state-active {
    color: $primary-color;
  }
}

.ui-accordion-content {
  text-align: center;

  .ui-state-default {
    color: $third-color;
  }
}



.ui-accordion-header-icon {
  display: none;
}

// Not displayed until the user decides to input a due date.
.duecalendar {
  display: none;
}


a.taskbuttons {
  border: 0;
  color: $primary-color;
  font-size: 16px;
  padding-right: 5px;
}

.largecontrols > .taskbuttons {
  color: #d5d5d5;
}

.largecontrols > .taskbuttons:hover {
  color: #ffffff;
}

.taskbuttons:hover {
  color: $second-color;
}

input[type=checkbox]{
  display: none;
}

input[type=checkbox] + label span {
  border: 1px solid $primary-color;
  border-radius: 4px;
  display: inline-block;
  height: 15px;
  margin-right: 5px;
  width: 15px;
}

input[type=checkbox]:checked + label span {
  border: 1px solid $second-color;
}

.largeeditor {
  background-color: $content-bg;
  border-radius: 15px;
  box-shadow: 0 0 5px $shadow;
  display: none;
  height: 85vh;
  left: calc(7.5vw - 20px - 32px);
  margin: 32px;
  overflow: auto;
  padding: 20px;
  position: absolute;
  top: calc(7.5vh - 20px - 32px);
  //max-width: 960px;
  width: 85vw;
  z-index: 999;
}

.largetextarea {
  display: none;
  height: 100%;
  resize: none;
  width: calc(100% - 40px + 19px);
}

.largecontrols.viewcontrols,
.largecontrols.editcontrols {
  display: none;
  position: absolute;
  top: calc(85vh + 7.5vh + 28px);
  z-index: 999;
}

.largecontrols.editcontrols {
  left: calc(85vw + 7.5vw + 32px - 64px - 20px - 20px);
  width: 97px;
}

.largecontrols.viewcontrols {
  left: calc(85vw + 7.5vw + 32px - 32px - 20px);
  width: 47px;
}

.fade {
  background-color: #000000;
  display: none;
  height: 100vh;
  left: 0;
  opacity: .6;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 998;
}

.encryptionoverlay {
  align-items: center;
  background-color: $content-bg;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 998;
}
