{% extends 'base.html' %}

{% block content %}
<div class="textblock">
        <h1>Change Password</h1>
        <form method="post" action="{% url 'userprefs:changepassword_confirm' %}">
                {% csrf_token %}
                <label>Current Password <input type="password" name="currentpass"></label>
                <label>New Password <input type="password" name="newpass"></label>
                <label>Confirm New Password <input type="password" name="newpass_confirm"></label>
                <input type="submit" value="Change Password">
        </form>
</div>
{% endblock %}
