{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Encryption{% endblock %}
{% block customscripts %}
{% if user.userpreference.encryption == True or request.method == "POST" %}
<script src="{% static 'js/external/sjcl.js' %}"></script>
<script src="{% static 'js/external/js-cookie.js' %}"></script>
<script src="{% static 'js/external/jquery.js' %}"></script>
{% endif %}
{% if user.userpreference.encryption == False and request.method == "POST" %}
<script src="{% static 'js/enable_crypto.js' %}"></script>
{% endif %}
{% if user.userpreference.encryption == True %}
<script src="{% static 'js/crypto-settings.js' %}"></script>
{% endif %}
{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<div class="textblock">
        <h1>Encryption Settings</h1>
        {% if user.userpreference.encryption == False and request.method != "POST" %}
        <p>Encryption is a very strong form of accoutn protection that makes it impossible for ANYONE,
        including hackers, governments, or even the site's admin, to access your 
        tasks without your encryption password.</p>
        <p>However, this does come with several caveats:</p>
        <ul>
                <li>You must have a separate encryption password that is different from your account password.</li>
                <li>If you lose your encryption password, you are locked out of your account completely.</li>
                <li>If you lose your encryption password, it is impossible to recover or change it.</li>
                <li>You may have to wait a while to encrypt all your tasks, depending on how many you have.</li>
                <li>Encryption is done on your computer, not by Fruitydo. There's more potential for things to go wrong,
                and if they do, it's impossible for Fruitydo to fix them.</li>
                <li>Not all the information on your account is encrypted. Task titles and events are. However, an attacker could
                still get access to various metadata, including the number of tasks, and the dates of events.</li>
        </ul>
        <p>If you enable encryption, you can still change your mind later and turn it off, as long as you still have
        your encryption password. You can also change your encryption password later as long as you still have your old
        one.</p>
        <p>If you're still sure you want to do this, type your password below and click continue.</p>
        <form method="post" action="{% url 'userprefs:crypto_settings' %}">
                {% csrf_token %}
                <input type="password" name="password" placeholder="Password">
                <input type="submit" value="I understand and want to continue">
        </form>
        {% elif user.userpreference.encryption == False and request.method == "POST" %}
        <h2>Choose an encryption password</h2>
        <input type="password" name="encpass" id="encpass" placeholder="Encryption Password">
        <input type="password" name="encpass2" id="encpass2" placeholder="Confirm Encryption Password">
        <input type="password" name="accpass" id="accpass" placeholder="Confirm Account Password">
        <input type="button" value="Enable Encryption" id="enablebutton">
        {% elif user.userpreference.encryption == True %}
        <h2>Change Encryption Password</h2>
        <input type="password" id="currentpass" placeholder="Current Encryption Password">
        <input type="password" id="newpass" placeholder="New Encryption Password">
        <input type="password" id="confnewpass" placeholder="Confirm Encryption Password">
        <input type="password" id="accpass" placeholder="Account Password">
        <input type="button" id="changebutton" value="Change Encryption Password">
        <h2>Disable Encryption</h2>
        <input type="password" id="currentpass_disable" placeholder="Encryption Password">
        <input type="password" id="dis_accpass" placeholder="Account Password">
        <input type="button" id="disablebutton" value="Disable Encryption">
        {% endif %}
</div>
{% endif %}
{% endblock %}
