{% extends 'base.html' %}
{% block title %}Settings{% endblock %}

{% block content %}
<div class="textblock">
        <h1>Settings</h1>
        <ul>
        <li><a href="{% url 'userprefs:change_password' %}">Change Password</a></li>
        <li><a href="{% url 'userprefs:change_email' %}">Change Email</a></li>
        {% if user.userpreference.otp == False %}
        <li><a href="{% url 'userprefs:enable_otp' %}">Enable Two Factor Authentication</a></li>
        {% else %}
        <li><a href="{% url 'userprefs:disable_otp' %}">Disable Two Factor Authentication</a></li>
        {% endif %}
</div>
{% endblock %}
