html {
	height: 100%;
}

body {
	background-color: #ffffff;
	font-family: sans-serif;
	margin: 0;
	margin-bottom: 30px;
	min-height: calc(100% - 30px);
}

.navbar {
	position: fixed;
	left: 0;
	top: 0;
	margin: 0;
	padding-top: 4px;
	padding-left: 0;
	padding-right: 0;
	width: 100%;
	height: 35px;
	background-color: #ffffff;
	box-shadow: 0 0 5px #888888;
	z-index: 5;
	display: inline;
}

.navbar > li {
	display: inline-block;
	font-size: 16px;
	padding-left: 5px;
	padding-right: 5px;
	height: 35px;
}

.navlink {
	padding-top: 8px;
	vertical-align: top;
}

.navlink > a, .auth > a {
	text-decoration: none;
	color: #888888;
	transition: .3s;
}

.navlink> a:hover, .auth > a:hover {
	color: #4b3621;
}

.auth {
	float; right;
	text-align: right;
	position: absolute;
	right: 0;
	bottom: -8px;
}

.content {

background-color: #faf9fb;
box-shadow: 0 0 10px #888888;
width: 100%;
min-height: calc(100vh - 100px);
height: 100%;
margin: 0;
padding: 60px 0 10px 0;
position: static;
z-index: 1;
left: 0;
}

.footer {
z-index: -500;
position: fixed;
bottom: 5px;
background-color: #ffffff;
height: 15px;
}

.registerbutton {
	color: #ff5d76;
	border-color: #ff5d76;
	border: 5px solid;
	border-radius: 5px;
	padding: 10px;
	text-decoration: none;
	transition: .3s;
	outline: 0;
	font-size: 20pt;
}

.registerbutton:hover {
	color: #ffffff;
	background-color: #aad23f;
	border-color: #aad23f;
}

.registercontainer {
	padding-top: 20px;
}

.lander {
	width: 80%;
	max-width: 980px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.lander > img {
	width: 100%;
}

.textblock {
	width: 90%;
	max-width: 980px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

h1 {
	color: #ff5d76;
}

h2 {
	color: #fbb03b;
}

h3 {
	color: #aad23f;
}

a {
	color: #fbb03b;
	text-decoration: none;
	transition: .3s;
}

a:hover {
	color: #aad23f;
}

p {
	color: #4B3621;
}
