.completeform {
	display: inline;
}

/* div to center the title/new task form. */
.wrapper {
	display: block;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.incompletetasks {
	width: 50%;
	/* Width of the calendar widget and textbox. */
	min-width: 700px;
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
}

.headertitle {
	display: inline-block;
	text-align: center;
}

.headertitle > form > input[type=text] {
	/* 27px: The size of the "+" button */
	width: calc(100% - 27px);
}

.newtaskbutton {
	width: 20px;
	height: 20px;
	padding: 0;
	margin: 0;
	border: none;
	background-color: transparent;
	color: #ff5d76;
	transition: .3s;
	font-weight: bold;
}

.newtaskbutton:hover {
	color: #acd343;
}


.eventbox {
	/* 31px: The height of the edit/save/done buttons. */
	height: calc(100% - 31px);
	/* The same width as the datepicker widget. */
	width: 280px;
	overflow: auto;
	display: block;
}

.eventbox > p {
	margin: 2px 0 2px 0;
}

/* Headings are colored and have huge margins elsewhere. */
.eventbox > h1,
.eventbox > h2,
.eventbox > h3 {
	margin: 4px 0 4px 0;
	color: #4b3621;
	display: block;
}

/* 31px: The height of the edit/save/done buttons. */
.desc_input {
	height: calc(100% - 31px);
	width: 280px;
	resize: none;
	display: block;
	margin: 0;
	padding: 0;
}

/* Hidden until the user hits the "edit" button. */
.desc_input_form {
	display: none;
}

.task_calendar {
	/* Bizarro tiny border on tables by default. */
	border-collapse: collapse;
}

/* trying to fit the box properly. */
td {
	padding: 0;
	vertical-align: top;
	height: 100%;
}

/* Necessary for the textarea and div to resize properly. */
tr {
	height: 100%;
}

.ui-datepicker-inline {
	border: 0;
}

/* Highlight dates with events. */
.event > .ui-state-default {
	background-color: red;

}

.headertitle > form > input.dueinput {
	/* Displayed under the titlebar/button. */
	width: 100%;
	display: block;
}

/* Not displayed until the user decides to input a due date. */
.duecalendar {
	display: none;
}
