.completeform {
	display: inline;
}

/* div to center the title/new task form. */
.wrapper {
	display: block;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.incompletetasks {
	width: 50%;
	/* Width of the calendar widget and textbox. */
	min-width: 700px;
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
}

.headertitle {
	display: inline-block;
	text-align: center;
}

.headertitle > form > input[type=text] {
	/* 27px: The size of the "+" button */
	width: calc(100% - 27px);
}

.tasks-header {
	text-align: center;
}

.newtaskbutton {
	width: 20px;
	height: 20px;
	padding: 0;
	margin: 0;
	border: none;
	background-color: transparent;
	color: #ff5d76;
	transition: .3s;
	font-weight: bold;
}

.newtaskbutton:hover {
	color: #acd343;
}


.eventbox {
	/* 31px: The height of the edit/save/done buttons.
	 * 20px: top and bottom margin.*/
	height: calc(215px - 51px);
	/* The same width as the datepicker widget. */
	width: 310px;
	overflow: auto;
	display: block;
	background-color: #dddddd;
	border-radius: 10px;
	margin: 10px;
	padding: 5px;
	text-align: left;
}

.editbuttons {
	text-align: right;
}

.eventbox > p {
	margin: 2px 0 2px 0;
}

/* Headings are colored and have huge margins elsewhere. */
.eventbox > h1,
.eventbox > h2,
.eventbox > h3 {
	margin: 4px 0 4px 0;
	color: #4b3621;
	display: block;
}

/* 31px: The height of the edit/save/done buttons. */
.desc_input {
	height: calc(215px - 51px);
	width: 310px;
	resize: none;
	display: block;
	margin: 0;
	padding: 0;
	box-shadow: inset, 3px, 3px, 3px, 3px, black;
}

/* Hidden until the user hits the "edit" button. */
.desc_input_form {
	display: none;
}

.task_calendar {
	/* Bizarro tiny border on tables by default. */
	border-collapse: collapse;
	display: inline;
}

/* trying to fit the box properly. */
td {
	padding: 0;
	vertical-align: top;
	height: 100%;
}

/* Necessary for the textarea and div to resize properly. */
tr {
	height: 100%;
}

.ui-datepicker-inline {
	border: 0;
}

/* Highlight dates with events. */
.ui-datepicker-calendar > tbody > tr > td.event > a.ui-state-default {
	background-color: #dddddd;
}

.ui-datepicker-calendar > tbody > tr > td.due > a.ui-state-default {
	background-color: #ff5d76;
}

.ui-datepicker-calendar > tbody > tr > td.due > a.ui-state-active {
	color: #ffffff;
}

.ui-datepicker-calendar > tbody > tr > td > .ui-state-default {
	text-align: center;
	border-radius: 30px;
	background: transparent;
	border: none;
}

.ui-datepicker-calendar > tbody > tr > td > .ui-state-active {
	font-weight: bold;
	color: #ff5d76;
}

.ui-datepicker-calendar > tbody> tr > .ui-datepicker-today > a {
	font-weight: bold;
	color: #c6cc31;
}

.ui-datepicker-calendar > tbody > tr > .ui-datepicker-today > .ui-state-active {
	color: #ff5d76;
}

.ui-datepicker-title {
	color: #fbb03b;
}

/* Rainbow accross the week. */
.ui-datepicker-calendar > thead > tr > th:nth-of-type(1) {
	color: #ff5d76;
}

.ui-datepicker-calendar > thead > tr > th:nth-of-type(2) {
	color: #ff6d70;
}

.ui-datepicker-calendar > thead > tr > th:nth-of-type(3) {
	color: #fb8675;
}

.ui-datepicker-calendar > thead > tr > th:nth-of-type(4) {
	color: #fbb03b;
}

.ui-datepicker-calendar > thead > tr > th:nth-of-type(5) {
	color: #e6c531;
}

.ui-datepicker-calendar > thead > tr > th:nth-of-type(6) {
	color: #c6cc31;
}

.ui-datepicker-calendar > thead > tr > th:nth-of-type(7) {
	color: #aad23f;
}

.headertitle > form > input.dueinput {
	/* Displayed under the titlebar/button. */
	width: 100%;
	display: block;
}

.ui-datepicker-header {
	background-color: transparent;
	border: none;
}

.ui-widget-content {
	background: transparent;
	border: none;
}

.ui-accordion-header {
	background: transparent;
	border: none;
	text-align: center;
	font-weight: bold;
	transition: .3s;
}

.ui-accordion-content {
	text-align: center;
}

.ui-accordion-header.ui-state-default {
	color: #aad23f;
}

.ui- {
	border: none;
}

.ui-accordion-header.ui-state-active {
	color: #ff5d76;
}

.ui-accordion-header-icon {
	display: none;
}

/* Not displayed until the user decides to input a due date. */
.duecalendar {
	display: none;
}

.editbutton {
	background-color: transparent;
	background-image: url("/static/pencilicon.png");
	border: none;
	color: transparent;
	width: 16px;
	height: 16px;
	background-size: 16px;
	padding: 0;
	margin-right: 15px;
}

.deletetaskbutton {
	background-color: transparent;
	background-image: url("/static/trashicon.png");
	border: none;
	color: transparent;
	width: 16px;
	height: 16px;
	background-size: 16px;
	padding: 0;
	margin-right: 5px;
}

.saveeventbutton {
	background-color: transparent;
	background-image: url("/static/saveicon.png");
	border: none;
	color: transparent;
	width: 16px;
	height: 16px;
	background-size: 16px;
	padding: 0;
	margin-right: 5px;
}
