.completeform {
	display: inline;
}

.wrapper {
	display: block;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.incompletetasks {
	width: 50%;
	min-width: 700px;
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
}

.headertitle {
	display: inline-block;
	text-align: center;
}

.headertitle > form > input[type=text] {
	width: calc(100% - 27px);
}

.completebutton, .newtaskbutton {
	width: 20px;
	height: 20px;
	padding: 0;
	border: none;
	border-radius: 10px;
	background-color: transparent;
	color: #ff5d76;
	transition: .3s;
	font-weight: bold;
}

.completebutton:hover, .newtaskbutton:hover {
	color: #acd343;
}

.eventbox {
	height: calc(100% - 31px);
	width: 280px;
	overflow: auto;
	display: block;
}

.eventbox > p {
	margin: 2px 0 2px 0;
}

.eventbox > h1,
.eventbox > h2,
.eventbox > h3 {
	margin: 4px 0 4px 0;
	color: #4b3621;
	display: block;
}

.desc_input {
	height: calc(100% - 31px);
	width: 280px;
	resize: none;
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
}

.desc_input_form {
	display: none;
}

.editbuttoncontainer {
	width: 290px;
	text-align: right;
}

.editorbuttons {
	width: 290px;
	height: 0px;
	text-align: right;
}

h3 {
	display: inline;
}

.task_calendar {
	border-collapse: collapse;
}

td {
	padding: 0;
	vertical-align: top;
	height: 100%;
}

tr {
	height: 100%;
}

.ui-datepicker-inline {
	border: 0;
}

.event > a.ui-state-default {
	background-color: red;
}
