{% extends "base.html" %}
{% load staticfiles %}

{% block title %}500{% endblock %}

{% block content %}
<div class="textblock">
        <h1>Error 500: Unexpected Error</h1>
        <img src="{% static '500.png' %}" alt="Uh-Oh!" style="max-width: 100%;">
        <p>Whoops. It seems Fruitydo just did something that shouldn't happen.</p>
        <p>If you're able to make this happen again, you can report it as a bug on <a href="https://github.com/alexskc/fruitydo/issues">Github</a>, and hopefully it'll get fixed.</p>
</div>
{% endblock %}
