{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<h1>The problem with to do lists</h1>
<p>The to do list is quite probably the oldest, simplest, yet most useful productivity tool ever invented. Plenty of variations have been invented over the years, with priority systems, due dates, subtasks, and a thousand other complications, but the core idea has stayed the same. Note down the things you need to get done, and go through that list, step by step.</p>

<p>It's a really powerful forward-looking tool. And a very weak backward looking one.</p>

<p>When you're done with a to do list, that list tells you exactly one thing: You're done. That paper you're working on? The to do list doesn't care what it's about, or the parts that were difficult to write, or how you threw it away halfway through to start over. All the to do list cares is that it's done. When you start a to do list, you set out to conquer a goal. When you've finished it, you've learned from an experience. And while the to do list is great at the former, and terrible at the latter.</p>

<h1>The Solution: Progress Calendar.</h1>
<p>Progress Calendar is a different kind of to do list. You start with goals, and note your progress towards those goals in a diary. Your running diary could keep track how long you run on any given day. Your language-learning diary might note down all the words you learn. Your diet diary could count your calories for you.</p>

<p>Progress Calendar tells you not only what to do, but how you're doing, and how you've done. Progress Calendar lets you learn from your past as well as plan for your future.</p>

<h1>Or something equally corny. I am not a writer.</h1>

{% endblock %}
