{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}

<h1>Wait, so what is this?</h1>
<p>Fruitydo is a productivity app that merges all the best features of a to do list, a diary, and a calendar, so you can get more done, and keep track of your progress.</p>

<p>To start by creating a goal with a name, for example, "Learn Japanese." Goals can have due dates, sub-tasks, and reappear on certain days of the week. When you create your goal, you're given a <b>Progress Calendar</b>. The progress calendar gives you a personal diary entry for each date, letting you write down your achievements on that date. For example, your "Learn Japanese" progress calendar might contain an entry every day you learn a new word.</p>

<h1>Credits</h1>
<p>Thank you to <a href="http://hannaluechtefeld.com/">Hanna Luechtefeld</a> for designing the logo and helping on layout design.</p>
<p>Thank you to <a href="http://yannicklung.com/">Yannick Lung</a> for the Hawcons set, used for the clipboard and diary icons on the landing page.</p>
<p>Thank you to <a href="http://designmodo.com/">Designmodo</a> for the Linecons set, used for the calendar icon on the landing page.</p>

{% endblock %}
