{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="textblock">

<h1>Wait, so what is this?</h1>
<div class="howto">
<p>Fruitydo is a productivity app that merges all the best features of a to do list, a diary, and a calendar, so you can get more done, and keep track of your progress.</p>

<p><img></p>
<p><img></p>
<p><img></p>
</div>
<h1>Credits</h1>
<p>Thank you to <a href="http://hannaluechtefeld.com/">Hanna Luechtefeld</a> for designing the logo and helping on layout design.</p>
<p>Thank you to <a href="http://yannicklung.com/">Yannick Lung</a> for the Hawcons set, used for the clipboard and diary icons on the landing page.</p>
<p>Thank you to <a href="http://designmodo.com/">Designmodo</a> for the Linecons set, used for the calendar icon on the landing page.</p>
</div>
{% endblock %}
