{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %} | Fruitydo</title>
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style/main.css' %}">
    <meta name=viewport content="width=device-width, initial-scale=1">
    {% block customscripts %}{% endblock %}
</head>
<body>
  <ul class="navbar">
    <li class="navtitle"><a href="{% url 'home' %}"><img height="30" width="98" src="{% static 'images/logo-scalable.svg' %}" alt="newtodologo"></a></li>
    <li class="navlink"><a href="{% url 'about' %}">About</a></li>
    <li class="navlink"><a href="{% url 'help' %}">Help</a></li>
    {% if user.is_authenticated %} 
    <li class="auth"><a href="{% url 'fd_register:logout' %}">Logout</a></li>
      <li class="auth"><a href="{% url 'userprefs:settings_page' %}">Settings</a></li>
    {% else %}
    <li class="auth"><a href="{% url 'fd_register:login' %}">Log In</a></li>
  {% endif %}
</ul>
<div class="content">
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
    {% block content %}{% endblock %}
</div>
<div class="footer">
  An <a href="http://alexskc.xyz"><div style="height: 15px; display: inline;"><img src="{% static 'images/alexskc-scaleable.svg' %}" width="15" height="15">@alexskc</div></a> project. Logo and design help from <a href="http://hannaluechtefeld.com/">Hanna Luechtefeld</a>.
</div>
</body>
</html>
