{% extends "base.html" %}

{% block title %}Help{% endblock %}

{% block content %}
<div class="textblock">
<h1>Something is wrong with my account!</h1>

<p>Email me with your issue at <a href="mailto:alexskc@autistici.org">alexskc@autistici.org</a>. I'll try to get your issue sorted out ASAP, though Fruitydo is very much a hobby project I do in my free time, so it may be a while before I get back to you.</p>

<h1>I have a problem with the site/feature suggestion/found a bug!</h1>

<p><a href="https://github.com/alexskc/Fruitydo">Fruitydo is on Github!</a> Create an issue there, and I'll see what I can do.</p>
</div>
{% endblock %}
