{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="lander">
        <img src="{% static 'mainpage-title.png' %}">
        <p class="blurb">Fruitydo is a different kind of productivity app.
        One that lets you look back on your progress, as well as forward on your goals.
        </p>

        <div class="registercontainer">
                <a href="{% url 'registration_register' %}" class="registerbutton">Register</a>
                <a href="{% url 'demopage:demo' %}" class="registerbutton">Try it</a>
        </div>
</div>
{% endblock %}
