{% extends 'base.html' %}
{% load staticfiles %}

{% block customscripts %}
<link rel="stylesheet" href="{% static 'style/login.css' %}">
{% endblock %}

{% block content %}
<div class="newpassdiv">
<h1>Reset Password</h1>
<form class="newpassform" method="post" action="{{reseturl}}">
        {% csrf_token %}
        <input type="password" name="password" class="password" placeholder="New Password">
        <input type="password" name="confirm_password" class="password" placeholder="Confirm New Password">
        <input type="submit" class="submitbutton" value="Reset Passowrd">
</form>
</div>
{% endblock %}
