{% extends 'base.html' %}

{% block content %}
<div class="textblock">
        <h1>One more step.</h1>
        <p>Before you can start using Fruitydo, you still need to activate
        your account by following the confirmation link in your email. This is
        only to verify the validity of your email address in case you ever lose
        access to your account. Fruitydo WILL NOT give out your email address
        or send you any mail you don't explicitly ask for.</p>
</div>
{% endblock %}
