{% extends 'base.html' %}
{% load staticfiles %}

{% block customscripts %}
<link rel="stylesheet" href="{% static 'style/login.css' %}">
{% endblock %}

{% block content %}
<div class="logindiv">
<h1>Login</h1>
<form class="loginform" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" class="username">
        <input type="password" name="password" placeholder="Password" class="password">
        <input type="text" name="otpkey" placeholder="Two Factor Key" class="otpkey">
        <input type="submit" value="Login" class="loginbutton">
</form>
<p>Don't have an account? <a href="#">Register!</a>
</div>
{% endblock %}
