{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Register{% endblock %}
{% block customscripts %}
<link rel="stylesheet" href="{% static 'style/login.css' %}">
{% endblock %}

{% block content %}
<div class="registerdiv">
        <h1>Register</h1>
        <form class="registerform" method="post" action="{% url 'fd_register:confirm_register' %}">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Username" class="username">
                <input type="email" name="email" placeholder="you@example.com" class="email">
                <input type="password" name="password" class="password" placeholder="Password">
                <input type="password" name="confirm_password" class="password" placeholder="Confirm Password">
                <input type="submit" value="Register">
        </form>
</div>
{% endblock %}
