{% extends "base.html" %}
{% load staticfiles %}
{% load randomgoal %}
{% load overdue %}

{% block customscripts %}
<link rel="stylesheet" href="{% static 'js/external/jquery-ui-1.11.4.custom/jquery-ui.css' %}">
<link rel="stylesheet" href="{% static 'style/profilepage.css' %}">
<link rel="stylesheet" href="{% static 'style/font-awesome.css' %}">
<script src="{% static 'js/external/jquery.js' %}"></script>
<script src="{% static 'js/external/jquery-ui-1.11.4.custom/jquery-ui.js' %}"></script>
<script src="{% static 'js/external/js-cookie.js' %}"></script>
<script src="{% static 'js/profilepage.js' %}"></script>
<script src="{% static 'js/todo-ui.js' %}"></script>
{% if user.userpreference.encryption == True %}
<script src="{% static 'js/external/sjcl.js' %}"></script>
<script src="{% static 'js/decrypt.js' %}"></script>
{% endif %}
{% endblock %}

{% block title %}Profile{% endblock %}

{% block content %}
{% if user.is_authenticated %}
{% if user.userpreference.encryption == True %}
<div class="encryptionoverlay">
    <div class="wrapper">
    <h1>Encryption password required to continue.</h1>
    <input type="password" id="encpassword">
    <input type="button" value="Decrypt tasks" id="decbutton">
    </div>
</div>
{% endif %}
<div class="wrapper">
    <div class="headertitle">
      <h1>Welcome back, {{ user.username }}</h1>
      <form action="{% url 'profilepage:create' %}" method="post">
        {% csrf_token %}
        <input type="text" name="task_title" placeholder="{% randomgoal %}">
        <input type="submit" value="+" class="newtaskbutton">
        <input type="text" name="duedate" placeholder="Due Date" class="dueinput">
        <div class="duecalendar"></div>
      </form>
    </div>
</div>
<h2 class="tasks-header">What have we got to do today?</h2>
<div class="incompletetasks accordion">{% for task in incompletetasks %}
    <h3>{{ task.task_title }} {{ task|overdue }}</h3>
    <div class="task_calendar">
      <div class="calendarcontainer">
        <div class="datepicker" id="{{task.id}}"></div>
      </div>
      <div class="editorcontainer">
        <div class="eventbox"></div>
        <form action="{% url 'profilepage:event_create' %}" method="post" class="desc_input_form" id="form-{{task.id}}">
          {% csrf_token %}
          <textarea class="desc_input" name="event_description"></textarea>
          <input type="hidden" name="task" value="{{task.id}}">
          <input type="hidden" name="pub_date" id="desc{{task.id}}">
        </form>
      <div class="editcontrols">
        <input type="checkbox" name="markcomplete" form="form-{{task.id}}">
        <label for="markcomplete"><span><span></span></span>Done for now?</label>
        <a class="saveeventbutton taskbuttons"><span class="fa fa-floppy-o"></span></a>
        <a class="deletetaskbutton taskbuttons"><span class="fa fa-trash-o"></span></a>
        <a class="expandbutton taskbuttons" title="Expand"><span class="fa fa-expand"></span></a>
        <a class="cancelbutton taskbuttons" title="Cancel"><span class="fa fa-times"></span></a>
      </div>
      <div class="viewcontrols">
          <a class="editbutton taskbuttons" title="Edit"><span class="fa fa-pencil-square-o"></span></a>
          <a class="expandbutton taskbuttons" title="Expand"><span class="fa fa-expand"></span></a>
      </div>
    </div>
    </div>{% endfor %}
</div>

<h2 class="tasks-header"><a href="{% url 'profilepage:done' %}">What've we got done?</a></h2>
{% endif %}
{% endblock %}
