{% extends "base.html" %}
{% load staticfiles %}
{% load randomgoal %}
{% load overdue %}

{% block customscripts %}
<link rel="stylesheet" href="{% static 'js/jquery-ui-1.11.4.custom/jquery-ui.css' %}">
<link rel="stylesheet" href="{% static 'style/profilepage.css' %}">
<script src="{% static 'js/jquery-ui-1.11.4.custom/external/jquery/jquery.js' %}"></script>
<script src="{% static 'js/jquery-ui-1.11.4.custom/jquery-ui.js' %}"></script>
<script src="{% static 'js/js-cookie.js' %}"></script>
{% comment %}<script src="{% static 'js/profilepage.js' %}"></script>{% endcomment %}
<script src="{% static 'js/todo-ui.js' %}"></script>
{% endblock %}

{% block title %}Profile{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="wrapper">
    <div class="headertitle">
	<h1>Welcome back, {{ user.username }}</h1>
	<form action="{% url 'profilepage:create' %}" method="post">
	    {% csrf_token %}
	    <input type="text" name="task_title" placeholder="{% randomgoal %}">
	    <input type="submit" value="+" class="newtaskbutton">
	    <input type="text" name="duedate" placeholder="Due Date" class="dueinput"> 
	    <div class="duecalendar"></div>
	</form>
    </div>
</div>
<h2 class="tasks-header">What have we got to do today?</h2>
<div class="incompletetasks accordion">{% for task in incompletetasks %}
    <h3>{{ task.task_title }} {{ task|overdue }}</h3>
    <div>
	<table class="task_calendar">
	    <tr>
		<td>
		    <div class="datepicker"></div>
		</td>
		<td>
		    <div class="eventbox"></div>
		    <form action="{% url 'profilepage:event_create' %}" method="post" class="desc_input_form" id="form-{{task.id}}">
			{% csrf_token %}
			<textarea class="desc_input" name="event_description"></textarea>
			<input type="hidden" name="task">
			<input type="hidden" name="pub_date">	
		    </form>
		    <div class="editcontrols">
			<input type="checkbox" name="markcomplete" form="form-{{task.id}}">
			<label for="markcomplete"><span><span></span></span>Done for now?</label>
			<input type="submit" value="Save" class="saveeventbutton taskbuttons" form="form-{{task.id}}">
			<form action="{% url 'profilepage:task_delete' %}" method="post" class="delete_form">
			    <input type="button" value="Delete" name="delete" class="deletetaskbutton taskbuttons">
			</form>
			<input type="button" value="expand" name="expand" class="expandbutton taskbuttons">
			<input type="button" value="Cancel" name="cancel" class="cancelbutton taskbuttons leftmost">
		    </div>
		    <div class="viewcontrols">
			<input type="button" value="edit" class="editbutton taskbuttons">
			<input type="button" value="expand" class="expandbutton taskbuttons leftmost">
		    </div>
		</td>
	    </tr>
	</table>
    </div>{% endfor %}
</div><div class="largecontainer">
<div class="largeeditor"></div>
<div class="largecontrols editcontrols">
    <input type="button" name="save" value="Save" class="saveeventbutton taskbuttons">
    <input type="button" name="delete" value="Delete" class="deletetaskbutton taskbuttons">
    <input type="button" name="contract" value="Contract" class="contractbutton taskbuttons">
    <input type="button" name="cancel" value="Cancel" class="cancelbutton taskbuttons">
</div>
<div class="largecontrols viewcontrols">
    <input type="button" name="edit" value="Edit" class="editbutton taskbuttons">
    <input type="button" name="contract" value="Contract" class="contractbutton taskbuttons">
</div>
<div class="fade"></div>
</div>

<h2 class="tasks-header"><a href="{% url 'profilepage:done' %}">What've we got done?</a></h2>
{% endif %}
{% endblock %}

