{% extends "base.html" %}
{% load staticfiles %}
{% load randomgoal %}
{% load overdue %}

{% block customscripts %}
<link rel="stylesheet" href="{% static 'jquery-ui-1.11.4.custom/jquery-ui.css' %}">
<link rel="stylesheet" href="{% static 'profilepage.css' %}">
<script src="{% static 'jquery-ui-1.11.4.custom/external/jquery/jquery.js' %}"></script>
<script src="{% static 'jquery-ui-1.11.4.custom/jquery-ui.js' %}"></script>
<script src="{% static 'js-cookie.js' %}"></script>
<script src="{% static 'demopage.js' %}"></script>
{% endblock %}

{% block title %}Demo{% endblock %}

{% block content %}
<div class="wrapper">
    <div class="headertitle">
	<h1>Fruitydo Demo</h1>
	<h3>THIS IS A DEMO. NONE OF YOUR CHANGES ARE SAVED.</h3>
	<h3>To migrate your changes to a permanent account, click <a href="#">here</a>.</h3>
	<form method="post">
	    {% csrf_token %}
	    <input type="text" name="task_title" placeholder="{% randomgoal %}" class="task_title">
	    <input type="button" value="+" class="newtaskbutton">
	    <input type="text" name="duedate" placeholder="Due Date" class="dueinput"> 
	    <div class="duecalendar"></div>
	</form>
    </div>
    <div class="incompletetasks accordion">
    </div>
</div>{% comment %}
<h2 class="tasks-header">What have we got to do today?</h2>
<div class="incompletetasks accordion">{% for task in incompletetasks %}
    <h3>{{ task.task_title }} {{ task|overdue }}</h3>
    <div>
	<table class="task_calendar">
	    <tr>
		<td>
		    <div class="datepicker" id="{{ task.id }}"></div>
		</td>
		<td>
		    <div class="eventbox" id="event{{ task.id }}"></div>
		    <div class="editbuttons">
		    <input type="button" value="edit" class="editbutton" id="edit_button-{{ task.id }}">
		    <form action="{% url 'profilepage:event_create' %}" method="post" class="desc_input_form" id="form-{{task.id}}">
			{% csrf_token %}
			<textarea class="desc_input" id="textarea{{ task.id }}" name="event_description"></textarea>
			<input type="hidden" name="task" value="{{task.id}}">
			<input type="hidden" name="pub_date" id="desc{{task.id}}">
			<label>Done for now?<input type="checkbox" name="markcomplete"></label>
			<input type="submit" value="Save" class="saveeventbutton">
			<input type="button" value="Delete" name="delete" class="deletetaskbutton" id="deletetask-{{ task.id }}">
			<input type="button" value="Cancel" name="cancel" class="cancelbutton" id="cancel-{{task.id}}">
		    </form>
		    </div>
		</td>
	    </tr>
	</table>
    </div>{% endfor %}
</div>
{% endcomment %}
{% endblock %}

