{% extends "base.html" %}
{% load staticfiles %}
{% load randomgoal %}
{% load overdue %}

{% block customscripts %}
<link rel="stylesheet" href="{% static 'jquery-ui-1.11.4.custom/jquery-ui.css' %}">
<link rel="stylesheet" href="{% static 'profilepage.css' %}">
<script src="{% static 'jquery-ui-1.11.4.custom/external/jquery/jquery.js' %}"></script>
<script src="{% static 'jquery-ui-1.11.4.custom/jquery-ui.js' %}"></script>
<script src="{% static 'js-cookie.js' %}"></script>
<script src="{% static 'demopage.js' %}"></script>
{% endblock %}

{% block title %}Demo{% endblock %}

{% block content %}
<div class="wrapper">
    <div class="headertitle">
	<h1>Fruitydo Demo</h1>
	<h3>THIS IS A DEMO. NONE OF YOUR CHANGES ARE SAVED.</h3>
	<h3>To migrate your changes to a permanent account, click <a href="#">here</a>.</h3>
	<form method="post">
	    {% csrf_token %}
	    <input type="text" name="task_title" placeholder="{% randomgoal %}" class="task_title">
	    <input type="button" value="+" class="newtaskbutton">
	    <input type="text" name="duedate" placeholder="Due Date" class="dueinput"> 
	    <div class="duecalendar"></div>
	</form>
    </div>
    <div class="incompletetasks accordion">
    </div>
</div>{% endblock %}

